In [2]:
# create a list and add one more element at end!!

a=[1,2,3,4,5,6]
a.append(7)
print("list -",a)

list - [1, 2, 3, 4, 5, 6, 7]

In [5]:
#create a function to calculate product of two numbers!!

def multi():
    a=5
    b=2
    print("Product of",a ,"and",b,"is :",a*b)
multi()

Product of 5 and 2 is : 10

In [19]:
#create a parametric function to convert celsius to farhenheit !!

   
def celsius_to_farhenheit(celsius):
    farhenheit=(celsius*9/5)+32
    print("Farhenheit is :",farhenheit,"℉")
celsius_to_farhenheit(67)

Farhenheit is : 152.6 ℉

In [20]:
#create a parametric function to convert farhenheit to celsius!! 
 

def farhenheit_to_celsius(farhenheit):
    celsius=(farhenheit-32)*5/9
    print("celsius is :",celsius,"℃")
farhenheit_to_celsius(87)

celsius is : 30.555555555555557 ℃

In [23]:
# create two numpy arrays & perform braadcasting!!

import numpy as np
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])
result=a+b
print("a+b =",result)

a+b = [ 6  8 10 12]

In [24]:
# create two numpy arrays & perform braadcasting!!

import numpy as np
arr1=np.array([1,2,3,4])
arr2=np.array([5,6,7,8])
result=arr1<arr2
print(result)

[ True  True  True  True]

In [25]:
# create two numpy arrays & perform braadcasting!!

import numpy as np
a1=np.array([1,2,3,4])
b1=np.array([5,6,7,8])
result=a1*b1
print("a1*b1 =",result)

a1*b1 = [ 5 12 21 32]

In [30]:
# create two numpy arrays & perform braadcasting!!

import numpy as np
a=np.array([2,4,8,6,5,10,12],)
b=np.array([2])
result=a/b
print("a/b =",result)

a/b = [1.  2.  4.  3.  2.5 5.  6. ]

In [40]:
# create two numpy arrays & perform braadcasting!!

import numpy as np
import pandas as pd
a=np.array([[1,2],[3,4],[5,6]],)
b=np.array([[2,4],[3,5],[1,8]])
result=a+b
output=pd.DataFrame(result)
print(output)

   0   1
0  3   6
1  6   9
2  6  14

In [41]:
#create two numpy arrays & perform braadcasting!! 

import pandas as pd
a=pd.DataFrame([[2,3],[4,5],[6,8]])
b=pd.DataFrame([[1,5],[2,7],[2,9]])
result=a+b
print(result)

   0   1
0  3   8
1  6  12
2  8  17

In [45]:
#create dictionary & convert into Dataframe!!

import pandas as pd
dic={"Name":["dharani","kishore","vishnupriya"],"Age":[22,23,24],"Gender":["female","male","female"]}
output=pd.DataFrame(dic)
print(output)

          Name  Age  Gender
0      dharani   22  female
1      kishore   23    male
2  vishnupriya   24  female

In [48]:
#create dictionary & convert into Dataframe!!


import pandas as pd
dic={"Fruits name":["apple","orange","mango","grapes","banana"], "cost of Fruits":[50,60,80,56,70]}
output=pd.DataFrame(dic)
print(output)

  Fruits name  cost of Fruits
0       apple              50
1      orange              60
2       mango              80
3      grapes              56
4      banana              70